# See https://help.github.com/articles/about-codeowners/

# Members of the following team will be notified of each pull request, 
# and merging PRs requires approval by a member of this team.
* @mbta/dotcom
* @mbta/mobile-app
